body {
  width: 960px;
  margin: auto;
  font-size: 1.6em;
  background-color: #eeeeee; }

.notice {
  font-style: italic;
  text-align: center; }

.panel {
  background-color: white;
  border-radius: 20px;
  padding: 0.6em;
  margin: 0.6em; }

.search {
  margin-left: 70%;
  padding-top: 0.6em;
  padding-right: 0.6em;
  float: right;
  font-size: 1.6em; }

.list_summary {
  margin-bottom: 0.6em;
  float: right;
  padding-left: 0.6em;
  padding-right: 0.6em; }

.learning_objective ul {
  clear: both;
  margin: 0;
  padding: 0;
  list-style-type: none; }
.learning_objective li {
  margin-bottom: 1.2em; }
  .learning_objective li p {
    width: 75%;
    margin: 0;
    padding: 0; }
  .learning_objective li span {
    color: black;
    float: right;
    padding-top: 0.6em;
    padding-left: 0.3em;
    padding-right: 0.3em; }
  .learning_objective li span#discipline {
    clear: both;
    font-weight: bold;
    font-size: 0.6em; }
  .learning_objective li span#category {
    clear: both;
    font-size: 0.6em; }
  .learning_objective li span#category_new {
    float: right;
    clear: both;
    font-size: 3em;
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 0.3em; }
.learning_objective li:hover {
  /*    background: $table_row_hover;*/ }
.learning_objective p {
  padding: 0.6em; }

.pad {
  clear: both; }
