$table_row_base : #fff ;
$table_row_vary : #eee ;
$table_row_hover: #ffa ;

$page_background: #eee ;
$li_background:   #fff ;
$pending_background: #ffd;

$text_colour: black ;
$add_filter_colour: green ;
$remove_filter_colour: red ;
$included_filter_colour: black ;
$excluded_filter_colour: grey;

$font_size_letter: 3.0em;
$font_size_large: 1.6em;
$font_size_small: 0.6em;
$font_size_tiny: 0.4em;

body
{
  width: 1000px;
  margin: auto;
  font-size: $font_size_large ;
  background-color: $page_background;
}

a
{
  text-decoration: none;
  color: $included_filter_colour;
}

a:visited
{
  color: $included_filter_colour;
}

a:hover
{
  color: $add_filter_colour;
}

a:visited
{
}

a:hover
{
  text-decoration: none;
}

.notice
{
  font-style: italic;
  text-align: center;
}

.panel
{
  background-color: $li_background;
  border-radius: 20px;
  padding: 0.6em;
  margin: 0.6em;
}

.pending
{
  background-color: $pending_background;
}

.search
{
  margin-left: 70%;
  padding-top: 0.6em;
  padding-right: 0.6em;
  
  float: right;
  clear: both;

  font-size: $font_size_large
}

.list_summary
{
  clear: both;
  margin-bottom: 0.6em;
  float: right;
  padding-left: 0.6em;
  padding-right: 0.6em;

  min-height: 1.0em;
}

.learning_objective
{
  ul
  {
    clear: both;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  li
  {
    margin-bottom: 1.2em;

    p
    {
      width: 80%;
      margin: 0;
      padding: 0;
    }

    span
    {
      color: black;
      float: right;
      padding-top: 0.6em;
      padding-left: 0.3em;
      padding-right: 0.3em;
    }

    span#discipline
    {
      clear: both;
      font-weight: bold ;
      font-size: $font_size_small;
    }

    span#category
    {
      clear: both;
      font-size: 0.6em;
    }

    span#category_new
    {
      float: right;
      clear: both;
      font-size: $font_size_letter;
      padding-top: 0;
      padding-left:0;
      margin-bottom: 0.3em;
    }

    p#pending
    {
      float: left ;
      font-style: italic;
      font-size: $font_size_tiny;
      padding-bottom: 0.3em;

      a
      {
        font-weight: bold !important;
      }

      a:hover
      {
        font-weight: bold !important;
      }
    }
  }

  p
  {
    padding: 0.6em;
  }

  float: left;
  width: 70%;
}

.pad
{
  clear: both;
}

nav.filter
{
  clear: right;
  float: right;
  width: 30%;

  ul
  {
    margin-top: 0.6em;
    margin-bottom: 0.6em;

    li
    {
      font-size: $font_size_small ;
      padding: 0;
      margin: 0;
      text-align: right;
    }

    span.include
    {
      a
      {
        color: $included_filter_colour;
      }

      a:visited
      {
        color: $included_filter_colour;
      }

      a:hover
      {
        color: $remove_filter_colour;
      }
    }

    span.exclude
    {
      a
      {
        color: $excluded_filter_colour;
      }

      a:visited
      {
        color: $excluded_filter_colour;
      }

      a:hover
      {
        color: $add_filter_colour;
      }
    }
  }
}