$table_row_base : #fff ;
$table_row_vary : #ddd ;
$table_row_hover: #ffa ;

body
{
  width: 960px;
  margin: auto;
  font-size: 1.2em;
}

.notice
{
  font-style: italic;
  text-align: center;
}

.learning_objective
{
  ul
  {
    margin: 0;
    padding:0;
    list-style-type:none;
  }
  
  li
  {
    padding: 0.6em;
    margin: 0;

    p
    {
      margin: 0;
      padding: 0;
    }
  }

  li.even
  {
    background: $table_row_base;
  }

  li.odd
  {
    background: $table_row_vary;
  }

  li:hover
  {
    background: $table_row_hover;
  }

  border: 1px dotted black ;
}