.container
  .content
    =render :partial => '/common/page_header', :locals => {:title => t('titles.user-home.title', :email => ""), :subtitle => t('titles.user-home.subtitle')}
    .row
      .span16
        Welcome