.container
  .content
    =render :partial => '/common/page_header', :locals => {:title => t('titles.user-reset-password.title'), :subtitle => t('titles.user-reset-password.subtitle')}
    .row
      .span16
        = semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
          .clearfix
            = f.input :email, :as => :email, :label => I18n.t('form.user-email')
          .actions
            .input
              = f.submit I18n.t('actions.reset-password'), :class => 'btn primary'