.pull-right
  %ul
    - if user_signed_in?
      %li
        = link_to(I18n.t('actions.edit-registration'), edit_user_registration_path)
      %li
        = link_to(I18n.t('actions.sign-out'), destroy_user_session_path)
    - else
      %li
        = link_to(I18n.t('actions.sign-up'), new_user_registration_path)
      %li
        = link_to(I18n.t('actions.sign-in'), new_user_session_path)