.container
  .hero-unit
    %h1 Lacking direction?
    %p
      You're not alone.
    %p
      In 2010 I conducted a
      = link_to 'survey', "http://distributedlife.com/content/paper.futures%20in%20software%20testing.pdf"
      that found that 75% of testers surveyed were unaware of the different
      directions a testing career could go. It also highlighted that 64% of testers surveyed had
      insufficient information to develop the capabilities required for their desired career path.
    %p
      Learn Testing is a site to help you identify what you currently know and what you can learn
      in software testing. We're talking the unknown unknowns. You can use this knowledge to start
      learning and
      pushing your testing career and your testing skills to where you always wanted them to be.
    %p
      &nbsp;
    %p
      = link_to "Start Now, it's free", new_user_registration_path, :class => "btn primary large"
      = link_to "Learn More, it's also free", info_how_assessments_work_path, :class => "btn large"

  %footer
    :plain
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>